<div class="table-responsive shadow-sm rounded">
<table class="table align-middle table-hover">
  <thead class="table-light">
    <tr class="text-uppercase text-secondary">
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Compra</th>
    </tr>
  </thead>
  <tbody>
    @for (item of deco; track item.nombre) {
      <tr [ngClass]="{ 'oferta': item.oferta }">
        <td>
          <img
            [src]="item.imagen"
            alt="{{ item.nombre }}"
            class="img-thumbnail rounded shadow-sm"
            width="100"
          />
        </td>
        <td class="fw-semibold">{{ item.nombre }}</td>
        <td>{{ item.categoria }}</td>
        <td class="text-success fw-bold">{{ item.precio | currency }}</td>
        <td>
          @if (item.stock === 0) {
            <span class="badge text-bg-warning">Sin stock</span>
          }
        </td>
       <td>
          <app-input-numero [cantidad]="item.cantidad" [max]="item.stock" *ngIf="item.stock"></app-input-numero>
        </td>



      </tr>
    }
  </tbody>
</table>

</div>

