<div class="table-responsive shadow-sm rounded">
<table class="table align-middle table-hover">
  <thead class="table-light">
    <tr class="text-uppercase text-secondary">
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Compra</th>
    </tr>
  </thead>
  <tbody>
    @for (item of deco; track item.nombre) {
      <tr [ngClass]="{ 'oferta': item.oferta }">
        <td>
          <img
            [src]="item.imagen"
            alt="{{ item.nombre }}"
            class="img-thumbnail rounded shadow-sm"
            width="100"
          />
        </td>
        <td class="fw-semibold">{{ item.nombre }}</td>
        <td>{{ item.categoria }}</td>
        <td class="text-success fw-bold">{{ item.precio | currency }}</td>
        <td>
          @if (item.stock === 0) {
            <span class="badge text-bg-warning">Sin stock</span>
          }
        </td>
       <td>
          <div class="d-flex flex-column align-items-start gap-2">
            <div class="d-flex align-items-center gap-2">
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="downQuantity(item)"
                [disabled]="item.cantidad <= 0"
              >
                -
              </button>

              <input
                type="number"
                min="0"
                [(ngModel)]="item.cantidad"
                (change)="validateQuantity(item, $event)"
                class="form-control form-control-sm text-center"
                style="width: 60px;"
              />

              <button
                class="btn btn-outline-success btn-sm"
                (click)="upQuantity(item)"
                [disabled]="item.stock === 0"
              >
                +
              </button>
            </div>

            <!-- Usar *ngIf en lugar de @if -->
            <div *ngIf="item.showStockError" class="text-danger small ms-1">
              Cantidad no disponible (Stock: {{ item.stock }})
            </div>
          </div>
        </td>



      </tr>
    }
  </tbody>
</table>

</div>

